.product {
  width: 1024px;

  &__filter {
    display: block;
    margin: 0 0 16px auto;
    width: 121px;
    height: 35px;
    border: none;
    border-radius: 4px;
    text-align: center;
    color: #B4B4B4;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
}


